[beacon]
x_offset: 0
y_offset: 19.25 
mesh_main_direction: x
default_probe_method: contact # Best with heatsoak
mesh_runs: 2
contact_max_hotend_temperature: 300
speed: 2
backlash_comp: 0.0041
autocal_speed:2
autocal_sample_count: 3
autocal_accel: 10
# autocal_tolerance: 0.008
autocal_tolerance: 0.015
mesh_overscan: 2.5
lift_speed: 3
z_settling_time: 5



[gcode_macro BEACON_AUTO_CALIBRATE]
rename_existing: BEACON_AUTO_CALIBRATE_OLD
gcode: 
  SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.6
  SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.6
  SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.6
  BEACON_AUTO_CALIBRATE_OLD SPEED={params.SPEED | default(3)} ACCEL={params.ACCEL | default(100)} RETRACT={params.RETRACT | default(2)} RETRACT_SPEED={params.RETRACT_SPEED | default(3)} SAMPLES={params.SAMPLES | default(3)} SAMPLES_TOLERANCE={params.SAMPLES_TOLERANCE | default(0.0080)} SAMPLES_TOLERANCE_RETRIES={params.SAMPLES_TOLERANCE_RETRIES | default(3)} SKIP_MODEL_CREATION={params.SKIP_MODEL_CREATION | default(0)}
  SET_TMC_CURRENT STEPPER=stepper_z CURRENT=1.
  SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=1.
  SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=1.

[gcode_macro Z_OFFSET_APPLY_PROBE]
rename_existing: Z_OFFSET_APPLY_PROBE_OLD
gcode:  
  {% set CLEAR = params.CLEAR | default(0) | int %}
  {% if CLEAR == 1%}
    SAVE_VARIABLE VARIABLE=z_offset VALUE=0.0
    SET_GCODE_OFFSET Z=0
    RESPOND MSG="The offset for beacon true zero has been cleared."
  {% else %}
    # if we use this , WE Gotta decide on how to save offset , like absolute or relative from the offset saved before
    # this will decide if we need to add extras modules on klipper (to do the offset) 
    # or change a bunch of macros to use it and roll back offset 
    {% set current_offset = printer.gcode_move.homing_origin.z %}
    {% if current_offset == 0.0 %}
      RESPOND MSG="Nothing to do: Z Offset is 0"
      {% else %}
        SAVE_VARIABLE VARIABLE=z_offset VALUE={current_offset}
        RESPOND MSG='{"The offset for beacon true zero has been adjusted, new value is %f ." % current_offset}'
        SET_GCODE_OFFSET Z=0 
    {% endif %}
  {% endif %}
  
