[beacon]
x_offset: 0
y_offset: -19.25
mesh_main_direction: x
default_probe_method: contact # Best with heatsoak
mesh_runs: 2
contact_max_hotend_temperature: 300
speed: 2
backlash_comp: 0.0041
autocal_speed:2
autocal_sample_count: 3
autocal_accel: 10
# autocal_tolerance: 0.008
autocal_tolerance: 0.015
mesh_overscan: 2.5
lift_speed: 3
z_settling_time: 5



[gcode_macro BEACON_AUTO_CALIBRATE]
rename_existing: BEACON_AUTO_CALIBRATE_OLD
gcode: 
  SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.6
  SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.6
  SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.6
  BEACON_AUTO_CALIBRATE_OLD SPEED={params.SPEED | default(3)} ACCEL={params.ACCEL | default(100)} RETRACT={params.RETRACT | default(2)} RETRACT_SPEED={params.RETRACT_SPEED | default(3)} SAMPLES={params.SAMPLES | default(3)} SAMPLES_TOLERANCE={params.SAMPLES_TOLERANCE | default(0.015)} SAMPLES_TOLERANCE_RETRIES={params.SAMPLES_TOLERANCE_RETRIES | default(3)} SKIP_MODEL_CREATION={params.SKIP_MODEL_CREATION | default(0)}
  SET_TMC_CURRENT STEPPER=stepper_z CURRENT=1.
  SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=1.
  SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=1.


