################################################################################################################
################################################################################################################
################################################################################################################
################################################################################################################
# Macro that helps to calibrate the z offset between the physical endstop on the machines bed and the nozzle   #
################################################################################################################
################################################################################################################


[gcode_macro Z_ENDSTOP_CALIBRATE]
rename_existing: Z_ENDSTOP_CALIBRATE_BASE
gcode: 
    CLEAN_NOZZLE
    G28
    G90
    G0 X250 Y250 Z5 F{200 * 60}
    Z_ENDSTOP_CALIBRATE_BASE

[gcode_macro PROBE_CALIBRATE]
rename_existing: PROBE_CALIBRATE_BASE
description: Home, move to bed center, and start probe calibration
gcode:
    {% set speed = params.SPEED|default(5)|int %}
    {% set cx = printer.toolhead.axis_maximum.x / 2 %}
    {% set cy = printer.toolhead.axis_maximum.y / 2 %}
    HOME_IF_NEEDED
    G90
    G1 Z20 F{60 * 100}
    G1 X{cx} Y{cy} F{60 * 100}
    PROBE_CALIBRATE_BASE SPEED={speed}
