[gcode_macro CANCEL_PRINT]
description: Cancel a running print job. 
rename_existing: BASE_CANCEL_PRINT
gcode: 
  {% set park_x = printer.toolhead.axis_minimum.x |default(100)|int %}
  {% set park_y = printer.toolhead.axis_minimum.y + 1|default(0)|int %}
  {% set current_print_z = printer.gcode_move.position.z|float %}
  # Raise z axis so to not hit the printed piece.
  # And Get how much we can raise the z axis without hitting the z maximum

  {% if ((current_print_z + 15) <= (printer.toolhead.axis_maximum.z )) %}
    {action_respond_info("Raising z height by 15")}
    G91
    G1 Z15 F900
  {% else %}
    G91
    G1 Z{printer.toolhead.axis_maximum.z - current_print_z} F900
    {action_respond_info("Raising z height by %d"%(printer.toolhead.axis.maximum.z - current_print_z))}
  {% endif %}
  # Move the toolhead to the defined park positions 
  G90
  G1 X{park_x} Y{park_y} F12000
  # If a cancel is made after a pause print, we need to clear the pause.
  SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
  
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT


  DISABLE_ALL 
  M104 S0 
  M140 S0