[gcode_macro CHANGE_FILAMENT]
gcode: 
    {% set filament_pos = printer.mmu.filament_pos %}
    {% if 'mmu' in printer %} # We using Happy-Hare 
      {% if printer.mmu.enabled and printer.mmu.num_gates == 1 %}
        # Working with the default system
        # 1. Check if its actually loaded 
        {% if printer.mmu.filament == "Loaded"  %}
          MMU_UNLOAD
          { action_respond_info("Ejecting Filament")}
        {% endif %}
        UPDATE_DELAYED_GCODE ID=__CF_EJECT DURATION=1            
      {% endif %}
    {% endif %}

#        FILAMENT_POS_UNKNOWN = -1
#  L  ^  FILAMENT_POS_UNLOADED = 0
#  O  |  FILAMENT_POS_HOMED_GATE = 1     # If gate sensor fitted
#  A  |  FILAMENT_POS_START_BOWDEN = 2
#  D  |  FILAMENT_POS_IN_BOWDEN = 3
#        FILAMENT_POS_END_BOWDEN = 4
#  |  U  FILAMENT_POS_HOMED_ENTRY = 5    # If extruder (entry) sensor fitted
#  |  N  FILAMENT_POS_HOMED_EXTRUDER = 6
#  |  L  FILAMENT_POS_PAST_EXTRUDER = 7
#  |  O  FILAMENT_POS_HOMED_TS = 8       # If toolhead sensor fitted
#  |  A  FILAMENT_POS_IN_EXTRUDER = 9    # AKA Filament is past the Toolhead Sensor
#  v  D  FILAMENT_POS_LOADED = 10        # AKA Filament is homed to the nozzle
#

[delayed_gcode __CF_EJECT]
initial_duration: 0
gcode: 
# Handles filament ejection after unloading 
  {% set filament_pos = printer.mmu.filament_pos %}
  { action_respond_info("Waiting unload to Eject")}
  {% if filament_pos == 0 %}
    MMU_EJECT
    UPDATE_DELAYED_GCODE ID=__CF_PRELOAD DURATION=0.6
    UPDATE_DELAYED_GCODE ID=__CF_EJECT DURATION=0
  {% else %}
    UPDATE_DELAYED_GCODE ID=__CF_EJECT DURATION=1
    {action_respond_info("Waiting for filament unload...")}
  {% endif %}

[delayed_gcode __CF_PRELOAD]
initial_duration: 0
gcode: 
#Handles loading the toolhead after requesting to change filament
  {% set filament_pos = printer.mmu.filament_pos %}
  { action_respond_info("Checking filament on gate")}
  { action_respond_info("The filament position is: " ~ filament_pos)}
  {% if filament_pos == 1 %} # On homed gate
    MMU_PRELOAD
    # MMU_LOAD
    {action_respond_info("Requested filament load")}
    # UPDATE_DELAYED_GCODE ID=__CF_PRELOAD DURATION=0
  {% else %}
    UPDATE_DELAYED_GCODE ID=__CF_PRELOAD DURATION=0.6
    {action_respond_info(filament_pos)}
    {action_respond_info("Waiting for filament to be inserted")}
  {% endif %}

# [delayed_gcode __CF_LOAD]
# intial_duration: 0 
# gcode: 
#   {% set filament_pos = printer.mmu.filament_pos %}
