[homing_override]
gcode:
  {% set homed = printer.toolhead.homed_axes %}
  
  # Home all
  {% if 'X' not in params and 'Y' not in params and 'Z' not in params %}
    # Move Z down a little
    SAVE_GCODE_STATE NAME=homing_override_blocks
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F600
    G90
    RESTORE_GCODE_STATE NAME=homing_override_blocks
    # Disable the Z steppers because we actually did not home it yet 
    M84 Z
    G28 Y
    G28 X
    G90
    G1 X-9 Y495 F18000   #before X-12.5
    G28 Z
    G1 Z5 F600
  {% endif %}
  # Home X
  {% if 'X' in params and 'Y' not in params and 'Z' not in params %}
    {% set initial_z_position = printer.toolhead.position.z %}
    SAVE_GCODE_STATE NAME=homing_override_blocks
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F600
    G90
    RESTORE_GCODE_STATE NAME=homing_override_blocks
    # Disable the Z steppers because we actually did not home it yet 
    M84 Z
    G28 Y
    G28 X
    {% if 'z' in homed %}
      {% set z_position = printer.toolhead.position.z %}
      SET_KINEMATIC_POSITION Z={initial_z_position+ 10}
    {% endif %}
  {% endif %}
    
  # Home Y
  {% if 'Y' in params and 'X' not in params and 'Z' not in params %}
    {% set initial_z_position = printer.toolhead.position.z %}
    {action_respond_info("Homing just Y axis.")}
    # Move Z down a little
    SAVE_GCODE_STATE NAME=homing_override_blocks
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F600
    G90
    RESTORE_GCODE_STATE NAME=homing_override_blocks
    M84 Z
    G28 Y
    G28 X
    {% if 'z' in homed %}
      {% set z_position = printer.toolhead.position.z %}
      SET_KINEMATIC_POSITION Z={initial_z_position + 10}
    {% endif %}
  {% endif %}

  # Home XY
  {% if 'X' in params and 'Y' in params and 'Z' not in params %}
    {action_respond_info("In xy homing condition")}
    SAVE_GCODE_STATE NAME=homing_override_blocks
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F600
    G90
    RESTORE_GCODE_STATE NAME=homing_override_blocks
    # Disable the Z steppers because we actually did not home it yet 
    M84 Z
    G28 Y
    G28 X
    # Check if z is already homed if it is then force the homed state 
    {% if 'z' in homed %}
      {% set z_position = printer.toolhead.position.z %}
      SET_KINEMATIC_POSITION Z={z_position + 10}
    {% endif %}
  {% endif %}
  #Home Z
  {% if 'Z' in params and ('X' not in params and 'Y' not in params) and ('x' in homed and 'y' in homed) %}
    # Move Z down a little
    {% set x_pos = printer.toolhead.position.x %}
    {% set y_pos = printer.toolhead.position.y %}
    { action_respond_info("In Z homing with xy") }
    SAVE_GCODE_STATE NAME=homing_override_blocks
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F600
    G90
    RESTORE_GCODE_STATE NAME=homing_override_blocks
    M84 Z
    SET_KINEMATIC_POSITION X={x_pos} Y={y_pos}
    G1 X-9 Y495 F18000
    SET_KINEMATIC_POSITION X=-8.5 Y=494.5 
    G28 Z
    G1 Z5 F600
    # x and y are already homed so force homed state. We know here the exact positions 
    SET_KINEMATIC_POSITION X=-8.5 Y=494.5 
  {% endif %}
  {% if 'Z' in params and ('X' not in params and 'Y' not in params) and ('x' not in homed and 'y' not in homed) %}
    # Move Z down a little
    {action_respond_info("in z homing without xy")}
    SAVE_GCODE_STATE NAME=homing_override_blocks
    SET_KINEMATIC_POSITION Z=0
    G91
    G1 Z10 F600
    G90
    RESTORE_GCODE_STATE NAME=homing_override_blocks
    M84 Z
    G28 Y
    G28 X
    G1 X-9 Y495 F18000
    G28 Z
    G1 Z5 F600
  {% endif %}

  SET_CUSTOM_BOUNDARY MOVE_TO_PARK=True  
axes: xyz

