[gcode_macro PRINT_START]
description: Machine Print start macro.
variable_btemp:0
variable_etemp:0
gcode:
    {% set variables = printer.save_variables.variables %}
    {% set _user_variables = printer["gcode_macro _USER_VARIABLES"] %}
    {% set btemp = params.BED| default(60) |int %}
    {% set etemp = params.EXTRUDER| default(220) | int %}
    {% set filament_type = params.FILAMENT_TYPE|default("PLA") %}
    {% set nozzle_size = params.NOZZLE_SIZE | default(0.4) | float %}


    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=btemp VALUE={btemp}
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=etemp VALUE={etemp}

    __PRINT_START_CLEAN_INIT {rawparams}

    RESPOND MSG="Starting initial print calibration...."
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={btemp}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={150}

    G21          ; set to mm
    M220 S100    ; set print speed to 100%
    M221 S100    ; set flow rate to 100%
    M107         ; disable fans
    G90          ; absolute positioning
    G28
    MOVE_TO_BUCKET
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={btemp} MAXIMUM={btemp + 10}   ; wait for bed temp

    __PRINT_START_CLEAN_NOZZLE

    __PRINT_START_TILT

    __PRINT_START_TRUE_ZERO

    __PRINT_START_MESH_SCAN

    # Heat nozzle
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={etemp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={etemp - 2} MAXIMUM={etemp|int + 10}

    G92 E0

    # Nozzle thermal expansion
    SET_GCODE_OFFSET Z=-0.05 
    RESTORE_DEFAULT_BOUNDARY
    RESPOND MSG="Printing"

[gcode_macro __PRINT_START_CLEAN_INIT]
gcode: 
    CLEAR_PAUSE
    BED_MESH_CLEAR
    MMU_START_SETUP {rawparams}
    MMU_START_CHECK
    MMU_START_LOAD_INITIAL_TOOL


[gcode_macro __PRINT_START_CLEAN_NOZZLE]
gcode:
    # Clean Nozzle 
    RESPOND MSG="Nozzle Cleaning"
    DISABLE_ALL_FANS
    CLEAN_NOZZLE


[gcode_macro __PRINT_START_TILT]
gcode:
    # Tilt
    RESPOND MSG="Leveling gantry"
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={150}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150 MAXIMUM=180
    Z_TILT_ADJUST
    G28 # necessary after the z tilt adjust routine
    MOVE_TO_BUCKET
    G4 P1000

[gcode_macro __PRINT_START_TRUE_ZERO]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
    G1 X250 Y250 Z10 F{60 * 100}
    BEACON_AUTO_CALIBRATE METHOD=contact SAMPLES=3
    MOVE_TO_BUCKET
    G4 P1000

[gcode_macro __PRINT_START_MESH_SCAN]
gcode:
    RESPOND MSG="Building mesh..."
    BED_MESH_CALIBRATE METHOD=beacon PROBE_METHOD=PROXIMITY ADAPTIVE=1
    MOVE_TO_BUCKET
    G4 P1000




