[gcode_macro RESUME]
rename_existing: RESUME_BASE
variable_zhop: 0
gcode:
    {% set _user_variables = printer["gcode_macro _USER_VARIABLES"] %}
    {% set _print_start_variables = printer["gcode_macro PRINT_START"] %}
    {% if printer['pause_resume'].is_paused|int == 0  %}
        {action_respond_info("Printer already paused, ignoring.")}
        RESPOND MSG="Print already resumed"
    {% else %}     
        RESTORE_DEFAULT_BOUNDARY

        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
        {% if _user_variables.etemp > 180 %}
          SET_HEATER_TEMPERATURE HEATER=extruder TARGET={_user_variables.etemp}
          TEMPERATURE_WAIT SENSOR=extruder MINIMUM={_user_variables.etemp|int - 5} MAXIMUM={_user_variables.etemp|int + 5}
        {% endif %}
        # Extrude a little 
        M83
        G92 E0.0
        G1 E20 F{35 * 60}
        G4 2000
        RESTORE_GCODE_STATE NAME=_park_state MOVE=1 SPEED=150
        _HORIZONTAL_FAST_BRUSH_CLEANING
        G92 E0.0
        # M82
        RESUME_BASE
        RESPOND MSG="Print Resumed.... Printing"
        M117 Print Resumed..... Printing
        RESTORE_DEFAULT_BOUNDARY
    {% endif %}
