#[unload_filament]
#bucket: True
#has_custom_boundary: True 
#cutter_sensor_name: extruder_cutter
#filament_switch_sensor_name: FEEDER_SENSOR
#travel_speed: 200
#unload_speed: 30
#timeout: 170


#[gcode_macro UNLOAD_FILAMENT]
#rename_existing: UNLOAD_FILAMENT_OLD
#gcode: 
#  {% set temp = params.TEMPERATURE|default(250) %}
#  {% if printer["cutter_sensor extruder_cutter"].filament_detected %}
#    {% if printer.print_stats.state == 'printing'%}
#      {% if printer['pause_resume'].is_paused|int == 0%}
#        PAUSE
#      {% endif %}
#    {% endif %}
#    M400
#    G4 P5000
#    UNLOAD_FILAMENT_OLD TEMPERATURE={temp}
#  {% else %}
#    {action_raise_error("Toolhead does not have filament, cannot unload")}
#  {% endif %}

#[gcode_macro M600]
#description: Pause and unload filament 
#gcode: 
#    PAUSE
#    UNLOAD_FILAMENT

