[amu_tensioner gate_0]
velocity: 50
accel: 1000
tension_pin: mmu:MMU_TENSIONER_GATE_0
fil_sensor_pin: filament_switch_sensor pre_gate_switch_pin_0
mmu_gear_stepper : stepper_mmu_gear
step_pin: MMU_GEAR_STEP_1
dir_pin: MMU_GEAR_DIR_1
enable_pin: !MMU_GEAR_ENABLE_1
microsteps: 16
rotation_distance: 33.683

[tmc2209 amu_tensioner gate_0]
uart_pin: MMU_GEAR_UART_1
run_current: 1
interpolate: false

[amu_tensioner gate_1]
velocity: 50
accel: 1000
tension_pin: mmu:MMU_TENSIONER_GATE_1
fil_sensor_pin: filament_switch_sensor pre_gate_switch_pin_1
mmu_gear_stepper : stepper_mmu_gear_2
step_pin: MMU_GEAR_STEP_3
dir_pin: MMU_GEAR_DIR_3
enable_pin: !MMU_GEAR_ENABLE_3
microsteps: 16
rotation_distance: 33.683

[tmc2209 amu_tensioner gate_1]
uart_pin: MMU_GEAR_UART_3
run_current: 1
interpolate: false

# [amu_tensioner gate_2]
# velocity: 50
# accel: 1000
# tension_pin: mmu:MMU_TENSIONER_GATE_2
# fil_sensor_pin: filament_switch_sensor pre_gate_switch_pin_2
# mmu_gear_stepper : stepper_mmu_gear_4
# step_pin: MMU_GEAR_STEP_5
# dir_pin: MMU_GEAR_DIR_5
# enable_pin: !MMU_GEAR_ENABLE_5
# microsteps: 16
# rotation_distance: 33.683
#
# [tmc2209 amu_tensioner gate_2]
# uart_pin: MMU_GEAR_UART_5
# run_current: 1
# interpolate: false

# [amu_tensioner gate_3]
# velocity: 50
# accel: 1000
# tension_pin: mmu:MMU_TENSIONER_GATE_3
# fil_sensor_pin: filament_switch_sensor pre_gate_switch_pin_3
# mmu_gear_stepper : stepper_mmu_gear_6
# step_pin: MMU_GEAR_STEP_7
# dir_pin: MMU_GEAR_DIR_7
# enable_pin: !MMU_GEAR_ENABLE_7
# microsteps: 16
# rotation_distance: 33.683
#
# [tmc2209 amu_tensioner gate_3]
# uart_pin: MMU_GEAR_UART_7
# run_current: 1
# interpolate: false
