[amu_tensioner gate_0]
extruding_velocity: 80
unextruding_velocity: 50
accel: 1000
stop_type: instant
tension_pin: !mmu:MMU_TENSIONER_GATE_0
fil_sensor_pin: filament_switch_sensor mmu_pre_gate_0
mmu_gear_stepper : stepper_mmu_gear
step_pin: mmu:MMU_GEAR_STEP_1
dir_pin: !mmu:MMU_GEAR_DIR_1
enable_pin: !mmu:MMU_GEAR_ENABLE_1
microsteps: 16
rotation_distance:20
disable_delay: 0.4

[tmc2209 amu_tensioner gate_0]
uart_pin: mmu:MMU_GEAR_UART_1
run_current: 1
interpolate: false


[amu_tensioner gate_1]
extruding_velocity: 80
unextruding_velocity: 50
accel: 1000
stop_type: instant
tension_pin: !mmu:MMU_TENSIONER_GATE_1
fil_sensor_pin: filament_switch_sensor mmu_pre_gate_1
mmu_gear_stepper : stepper_mmu_gear_1
step_pin: mmu:MMU_GEAR_STEP_3
dir_pin: !mmu:MMU_GEAR_DIR_3
enable_pin: !mmu:MMU_GEAR_ENABLE_3
microsteps: 16
rotation_distance: 20
disable_delay: 0.4

[tmc2209 amu_tensioner gate_1]
uart_pin: mmu:MMU_GEAR_UART_3
run_current: 1
interpolate: false

# [amu_tensioner gate_2]
# velocity: 50
# accel: 1000
# tension_pin: mmu:MMU_TENSIONER_GATE_2
# fil_sensor_pin: filament_switch_sensor mmu_pre_gate_2
# mmu_gear_stepper : stepper_mmu_gear_4
# step_pin: mmu:MMU_GEAR_STEP_5
# dir_pin: mmu:MMU_GEAR_DIR_5
# enable_pin: !mmu:MMU_GEAR_ENABLE_5
# microsteps: 16
# rotation_distance: 33.683
#
# [tmc2209 amu_tensioner gate_2]
# uart_pin: mmu:MMU_GEAR_UART_5
# run_current: 1
# interpolate: false

# [amu_tensioner gate_3]
# velocity: 50
# accel: 1000
# tension_pin: mmu:MMU_TENSIONER_GATE_3
# fil_sensor_pin: filament_switch_sensor mmu_pre_gate_3
# mmu_gear_stepper : stepper_mmu_gear_6
# step_pin: mmu:MMU_GEAR_STEP_7
# dir_pin: mmu:MMU_GEAR_DIR_7
# enable_pin: !mmu:MMU_GEAR_ENABLE_7
# microsteps: 16
# rotation_distance: 33.683
#
# [tmc2209 amu_tensioner gate_3]
# uart_pin: mmu:MMU_GEAR_UART_7
# run_current: 1
# interpolate: false
